__pycache__/
*.py[cod]
*$py.class

# Python build files
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# pip
pip-log.txt
pip-delete-this-directory.txt
*.log

# virtualenv
env/
.env
venv/
ENV/

# Test db
*.db
*.sqlite3

# Others
*.swp
.DS_Store
